<strong>Olá, {{ student }}</strong>
<p> Você tem uma matrícula em GymPoint:</p>
<p>
  <strong>Plano: </strong> {{plan }} <br />
  <strong>Data Inicial: </strong> {{start_date }} <br />
  <strong>Data Final: </strong> {{end_date }} <br />
  <strong>Valor do Plano: </strong> R${{price }},00 <br />
  <br />
  <strong>BORA SAIR DA JAULA!</strong> <br />
  <br />
  <small>
    Qualquer dúvida entre em contato!
  </small>
</p>
